body{
    font-family: 'Roboto', sans-serif;
}
.titulos{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 20%;
}
.texto{
    text-align: center;
}
.rrss{
    text-align: center;
}
.pie{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 1%;
}