body{
    font-family: 'Roboto', sans-serif;
}
div.lang{
    text-align: center;
    border-radius: 1em;
    width: 90%;
}
div > .lg{
    padding-top: 20px;
}
.title{
    text-align: center;
    margin-top: 150px !important;
    margin-bottom: 50px !important;
}