body{
    font-family: 'Roboto', sans-serif;
}
.title{
    margin-top: 5% !important;
    margin-bottom: 7% !important;
    text-align: center;
}
img{
    margin-bottom: 5%;
}
.text{
    text-align: center;
    margin-bottom: 5%;
}